/* @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Khula:wght@300&family=Nunito:wght@300&display=swap');
html {
    background-color: #f2f2f2
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .main-btn {
      @apply bg-orange-400 text-sm font-bold font-khula  px-4 py-2.5   
      text-white leading-tight uppercase rounded shadow-md hover:bg-orange-700 
      active:hover:shadow-lg active:focus:bg-orange-700 focus:shadow-lg active:focus:outline-none
      active:focus:ring-0 active:bg-orange-800 active:shadow-lg transition duration-150 
      ease-in-out disabled:bg-orange-400;
    }
    .secondary-btn {
      @apply bg-stone-400 text-sm font-bold font-khula text-white leading-tight uppercase 
      px-4 py-2.5 rounded shadow-md hover:bg-stone-700 active:hover:shadow-lg 
      active:focus:bg-stone-700 focus:shadow-lg focus:outline-none focus:ring-0 
      active:bg-stone-800 active:focus:shadow-lg transition duration-150 
      ease-in-out disabled:bg-stone-400
    }
    .btn-add-circular {
      @apply bg-green-400 text-2xl text-white  w-10 h-10  rounded-full
      hover:bg-green-300 focus:bg-green-300
    }
    .btn-remove-circular {
      @apply bg-red-400 text-sm text-white  w-5 h-5  rounded-full
      hover:bg-red-300 
    }
  }