@import url('https://fonts.googleapis.com/css2?family=Khula:wght@300&family=Nunito:wght@300&family=Inter:wght@400;500;600;700&display=swap');
html {
    background-color: #f2f2f2
}
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {

    .flashy-main-btn {
      @apply ml-16 p-4 font-khula font-black text-base uppercase text-white bg-orange-600 rounded-xl  drop-shadow-lg bg-gradient-to-r 
      from-orange-500  to-blue-500  hover:outline hover:outline-4 hover:outline-blue-300 min-w-[12rem] text-center
      hover:outline-offset-2
    }

    .flashy-secondary-btn {
      @apply ml-16 p-4 font-khula font-black text-base uppercase text-white bg-blue-600 rounded-xl  drop-shadow-lg 
      hover:outline hover:outline-4 hover:outline-orange-300 min-w-[12rem] text-center
      hover:outline-offset-2
    }

    .main-btn {
      @apply bg-orange-400 text-sm font-bold font-khula  px-4 py-2   
      text-white leading-tight uppercase rounded-md shadow-md hover:bg-orange-700 
      active:hover:shadow-lg active:focus:bg-orange-700 focus:shadow-lg active:focus:outline-none
      active:focus:ring-0 active:bg-orange-800 active:shadow-lg transition duration-150 
      ease-in-out disabled:bg-orange-200 focus:outline-none disabled:shadow-none
    }
    .secondary-btn {
      @apply bg-blue-500 text-sm font-bold font-khula text-white leading-tight uppercase      
      px-4 py-2 rounded-md shadow-md hover:bg-blue-700 active:hover:shadow-lg 
      active:focus:bg-blue-800 focus:shadow-lg focus:outline-none focus:ring-2 
      active:bg-blue-800 active:focus:shadow-lg transition duration-150 
      ease-in-out disabled:bg-blue-400;
  } 

    .action-btn {
      @apply border-[1px]  text-sm font-bold font-khula  leading-tight uppercase bg-blue-600 text-white
      px-4 py-1 rounded-md shadow-sm active:hover:shadow-lg 
      active:focus:bg-blue-900 focus:shadow-lg focus:outline-none focus:ring-2   
      hover:bg-blue-900 hover:text-white active:focus:shadow-lg transition duration-150
      ease-in-out disabled:bg-blue-400;
  }


    .txCancel-btn {
    @apply bg-red-500 text-sm font-bold font-khula text-white leading-tight uppercase 
    px-4 py-2.5 rounded shadow-md hover:bg-red-700 active:hover:shadow-lg 
    active:focus:bg-red-700 focus:shadow-lg focus:outline-none focus:ring-0 
    active:bg-red-800 active:focus:shadow-lg transition duration-150 
    ease-in-out disabled:bg-red-400;
  }

    .blueblack-btn {
    @apply bg-gradient-to-r from-blue-600 to-black hover:from-blue-400 hover:to-gray-500 text-white md:text-base sm:text-base 
    xl:text-lg lg:text-lg font-normal py-2 px-4 rounded-xl
  }

    .btn-add-circular {
      @apply border-2 border-green-700 text-xl text-green-700 hover:bg-green-300 hover:text-white w-5 h-5 flex items-center 
      justify-center rounded-full 
    }
    .btn-removeall-circular {
      @apply border-2 border-red-500 text-xl  text-red-500 hover:bg-red-500 hover:text-white  w-5 h-5 flex items-center  
      justify-center rounded-full
    }    
    .btn-remove-circular {
      @apply bg-red-400 text-sm text-white  w-5 h-5  rounded-full font-bold
      hover:bg-red-300 focus:outline-none
    }
    .btn-edit-circular {
      @apply bg-yellow-300 text-sm text-white  w-5 h-5  rounded-full
      hover:bg-yellow-200 focus:outline-none
    }    
    .tooltip-span-rigth {
      @apply absolute invisible group-hover:visible group-hover:flex -top-2 -right-3 overflow-visible 
      translate-x-full w-48 px-2 py-1 bg-gray-700 rounded-lg text-center text-white text-sm 
      before:content-[''] before:absolute before:top-1/2  before:right-[100%] before:-translate-y-1/2 
      before:border-8 before:border-y-transparent before:border-l-transparent before:border-r-gray-700 
    }    
    .tooltip-span-top {
      @apply absolute invisible group-hover:visible group-hover:flex -left-5 -top-2 -translate-y-full w-48 px-2 py-1 
      bg-gray-700 rounded-lg text-center text-white text-sm after:content-[''] after:absolute after:left-1/2 overflow-visible
      after:top-[100%] after:-translate-x-1/2 after:border-8 after:border-x-transparent after:border-b-transparent 
      after:border-t-gray-700 
    }
    .tooltip-span-error-upload {
      @apply absolute invisible group-hover:visible group-hover:flex -left-[40em] top-[2em] -translate-y-full w-[40em] px-2 py-1 
      bg-white border-2 border-red-500 rounded-lg text-left text-stone-600 font-bold text-[0.9em] after:content-[''] after:absolute 
      after:left-1/2 overflow-visible after:top-[20%] after:left-[100%]  after:border-[10px] after:border-x-transparent 
      after:border-l-transparent  after:border-l-red-500
    }

    .list-circle {
      list-style-type: circle;
    }
    
    .list-square {
      list-style-type: square;
    }

    
    .animate-dot {
      animation: animate-blue-dot 1.5s ease-in-out infinite alternate;
      position:absolute;
    }
    

    @keyframes animate-blue-dot {
      from {
        left:0%;
      }
      to {
        left:93%;
      }
    }
  }



  @keyframes bounce-four-times {
    0%,
    25%,
    50%,
    75%,
    100% {
      transform: translateY(0);
    }
    12.5%,
    37.5%,
    62.5% {
      transform: translateY(-30px);
    }
  }
  
  .bounce-four-times {
    animation: bounce-four-times 2s ease-out;
  }

  .background-animate {
    background-size: 400%;

    -webkit-animation: AnimationName 2s ease infinite;
    -moz-animation: AnimationName 2s ease infinite;
    animation: AnimationName 2s ease infinite;
  }

  @keyframes AnimationName {
    0%,
    100% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
  }

  
  /* Animation for beta testing marquee */
  @keyframes marquee {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
  }
  
  .animate-marquee {
    animation: marquee 15s linear infinite;
  }
  
  
  